<h2>Add Todo</h2>
<form [formGroup]="newTodo" (ngSubmit)="addTodo()">
  <div class="form-group">
    <mat-form-field class="element-form">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" placeholder="Name">
      <mat-error *ngIf="newTodo.controls.name.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="element-form">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" placeholder="Description" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="10"></textarea>
      <mat-error *ngIf="newTodo.controls.description.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="createdAt" [min]="minDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-radio-group formControlName="priority">
      <mat-label>Priority</mat-label>
      <div>
        <mat-radio-button value="1">Low</mat-radio-button>
      </div>
      <div>
        <mat-radio-button value="2">Middle</mat-radio-button>
      </div>
      <div>
        <mat-radio-button value="3">High</mat-radio-button>
      </div>
    </mat-radio-group>
  </div>
  <div class="form-group">
    <mat-checkbox formControlName="completed">Completed?</mat-checkbox>
  </div>
  <button mat-flat-button color="primary" [disabled]="!newTodo.valid">Add</button>
</form>
